.header-cell {
    -fx-alignment: center; /* Center text alignment */
    -fx-font-weight: bold; /* Bold font for headers */
    -fx-background-color: transparent; /* No background color for headers */
}

.data-cell {
    -fx-alignment: center; /* Left-aligned text for data cells */
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-background-color: white; /* Default white background */
}

/* Alternating row colors */
.even-row {
    -fx-background-color: #f0f8ff; /* Very light blue for even rows */
}

.odd-row {
    -fx-background-color: white; /* White for odd rows */
}

/* Highlight cell on hover */
.data-cell:hover {
    -fx-background-color: #d3d3d3; /* Light gray when hovered */
    -fx-cursor: hand; /* Pointer cursor on hover */
}

.header-cell:hover{
    -fx-background-color: #d3d3d3; /* Light gray when hovered */
    -fx-cursor: hand; /* Pointer cursor on hover */
}

.clicked-header {
    -fx-background-color: #dcd5f1;

}

.clicked-cell {
    -fx-border-color: #f60808; /* Border color */
    -fx-border-width: 2px; /* Border thickness */
    -fx-border-radius: 5px; /* Rounds the corners of the border */
    -fx-padding: 5px; /* Adds space between the content and the border */
    /*-fx-background-color: #dcd5f1;*/ /* Uncomment if you want to set the background color */
}

.affected-cell {
    -fx-border-color: #06fb00; /* Border color */
    -fx-border-width: 2px; /* Border thickness */
    -fx-border-radius: 5px; /* Rounds the corners of the border */
    -fx-padding: 5px; /* Adds space between the content and the border */
    -fx-background-color: #91ed8e; /* Uncomment if you want to set the background color */
}

.depending-cell {
    -fx-border-color: #0076ff; /* Border color */
    -fx-border-width: 2px; /* Border thickness */
    -fx-border-radius: 5px; /* Rounds the corners of the border */
    -fx-padding: 5px; /* Adds space between the content and the border */
    -fx-background-color: #8ebaed; /* Uncomment if you want to set the background color */
}

.range {
    -fx-border-color: black;
    -fx-background-color: #ddff57;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

.show-pressed-label-children{
    -fx-background-color: rgba(237, 237, 243, 0.67);
}

.custom-background {
    -fx-background-color: transparent; /* Default or reset */
}


